/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

/******************************/
/* ALGEMENE CUSTOM PROPERTIES */
/******************************/
:root {
--color-main-background: #000000;

}


/********************/
/* ALGEMENE STIJLEN */
/********************/
body{
  background-color: var(--color-main-background);
  color: white;
}

main ul {
  list-style-type: none;
}
main ul li{
  border:1px solid;
  border-image:linear-gradient(45deg,yellow,coral) 10;
}
