/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

/******************************/
/* ALGEMENE CUSTOM PROPERTIES */
/******************************/
:root {
--color-main-background: #000000;
--color-menu-grey: #1A1A1A;
--color-menu-grey-light: #494949;
--border-gradient: linear-gradient(to right, rgba(255,218,0,1) 0%, rgba(255,162,0,1) 28%, rgba(255,0,121,1) 100%);
--color-background-white: #ffffff;
--color-a:rgba(255,0,121,1);
--color-a-dark:rgb(139, 0, 65);
--color-light-grey: #cccccc;
}

/*************************/
/*  FONTS & FONT COLORS  */
/*************************/

h1, h2, h3, aside{
  font-family: 'Open Sans', sans-serif;
}

h2{
  font-size: 19.2px;
}

h3{
  font-size: 14.4px;
}

a{
  color:var(--color-a)
}

nav div ul li{
  font-family: helvetica, sans-serif;
  font-size: 17px;
}

/********************/
/* ALGEMENE STIJLEN */
/********************/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
  background-color: var(--color-main-background);
  color: white;
  margin: 0;
}

ul{
  list-style-type: none;
}

/****** HEADER ******/
header img:first-of-type{
  width: 200px;
  padding: 1em;
}

header img:last-of-type{
  height: 60px;
  padding: 1em;
  
}

header>div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/****** MAIN ARTICLES DARK ******/
main ul {
  padding: 16px;
  padding-bottom: 0;
  margin-bottom: 0;
}

main ul li{
  border:1px solid;
  border-image:var(--border-gradient) 88;

  /* padding-left: 1em; */

  display: flex;
}

.mainarticle{
  max-width: 50%;

  padding: 1em;
}

.subarticle{
  max-width: 40%;

  padding: 1em;


}

/****** MAIN ARTICLES WHITE ******/
main>div>div{
  background-color: white;
  color: var(--color-main-background);

  display: flex;
  
  border-bottom: 1px solid var(--color-light-grey);
  
  /* padding: 1em; */
}

.subarticle2{
  max-width: 25%;
  margin-right: 1em;

}

/****** MAIN ARTICLES ASIDE ******/
main>div>div{
  padding-top:1em;
  padding-bottom: 1em;
}
main>div>div>div{
  padding-right: 1em;
  
}
aside{
  font-size: 1.5em;
  font-weight: 700;
  color: var(--color-a)
}

.asideText{
  text-align: right;
}


/********************/
/*     NAVIGATIE    */
/********************/
nav{
  display:flex;

}

button {
  background-color:var(--color-main-background) ;
  color: white;
  padding: 16px;
  width: 100%;
  font-size: 16px;
  cursor: pointer;

  border-top: 2px var(--color-menu-grey-light);
  border-bottom: 2px var(--color-menu-grey-light);
  border-left: none;
  /* border-right: none; */
}

button:hover{
  background-color: var(--color-menu-grey-light);
}

button:focus{
  box-shadow:  0 6px var(--color-a);
}

nav>div {
  flex-grow: 1; 
}

nav>div>ul {
  display: none;
  position: absolute;
  background-color: var(--color-menu-grey);
  color: rgb(189, 184, 184);
  min-width: 160px;

  left: 0;
  right: 0;
  margin:0;
  padding-left: 0;
  
}

button:focus + nav>div>ul {
  display: block;  
  /* dit zorgt ervoor dat je nav met een toetsenbord ook werkt */
}

nav>div>ul a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

nav>div>ul a:hover {
  background-color: var(--color-menu-grey-light);
}

nav>div:hover  ul:first-of-type {
  display: block;
}

.hidden{
  display: none;
}

main>button{
  background-color: var(--color-a);
  margin: 0;
}

main>button:hover, main>button:focus{
  background-color: var(--color-a-dark);
}

/****************/
/*    FOOTER    */
/****************/
footer{
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
}
footer>ul{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  
  padding: 0;
  padding-top:.5em;
  margin: 0;
}

footer li{
  flex-shrink: 0;
}

footer li:not(:last-of-type)::after{
  content:" •";
}

footer img{
  width: 70%;
  display: block;
  margin: 0 auto;
}


/****************/
/*  RESPONSIVE  */
/****************/
@media (min-width:37.5em){

  .hidden{
    display: block;
  }
}